{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-5">

           {% for flashError in app.flashes('verify_email_error') %}
           <div class="alert alert-danger" role="alert">{{ flashError }}</div>
           {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="row h-100">
            <div class="col-sm-6 my-auto">
               <button type="submit" class="btn btn-lg btn-primary">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
            </div>

        </div>
    </div>
</div>

{% endblock %}
