{% extends 'base.html.twig' %}

{% block title %}Terrain{% endblock %}

{% block body %}
<div class="col-10 p-5">

    <h1>Liste des terrains</h1>

    <table class="table table-bordered table-hover table-sm text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">Image</th>
                <th scope="col">Surface</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for terrain in terrains %}
            <tr>
                <td>{{ terrain.id }}</td>
                <td>{{ terrain.titre }}</td>
                <td>{{ terrain.description }}</td>
                <td>{{ terrain.prix }}</td>
                <td>{{ terrain.surface }}</td>
                <td>{{ terrain.imageFilename }}</td>
                <td>
                <a href="{{ path('terrain_show', {'id':terrain.id}) }}"><i class="fas fa-eye"></i></a>
                <a href="{{ path('terrain_edit', {'id':terrain.id}) }}"><i class="fas fa-edit"></i></a>    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('terrain_new') }}" class="btn btn-info float-right">Ajouter</a>
</div>
{% endblock %}
