{% extends 'base.html.twig' %}

{% block title %}Hello LouerController!{% endblock %}

{% block body %}
<div class="m-3 text-center">
    <h1>Nos appartements</h1>
</div>

<div class="row row-cols-1">
{% for appartement in appartement %}
    
  <div class="card text-white bg-dark m-3" style="max-width: 20rem;">
      <div class="card-header">{{ appartement.titre }}</div>
        <div class="card-body">
           <h4 class="card-title">{{ appartement.prix|number_format(2, ',', '.') }} CFA }}</h4>
           <p class="card-text">{{ appartement.description }}</p>
        </div>        
      </div>
{% endfor %}  

<div class="m-3 text-center">
    <h1>Nos villas</h1>
</div>

<div class="row row-cols-1">
{% for villa in villa %}
    
  <div class="card text-white bg-dark m-3" style="max-width: 20rem;">
      <div class="card-header">{{ villa.titre }}</div>
        <div class="card-body">
           <h4 class="card-title">{{ villa.prix|number_format(2, ',', '.') }} CFA }}</h4>
           <p class="card-text">{{ villa.description }}</p>
        </div>        
      </div>

{% endfor %}  

<div class="m-3 text-center">
    <h1>Nos terrains</h1>
</div>

<div class="row row-cols-1">
{% for terrain in terrain %}
    
  <div class="card text-white bg-dark m-3" style="max-width: 20rem;">
      <div class="card-header">{{ terrain.titre }}</div>
        <div class="card-body">
           <h4 class="card-title">{{ terrain.prix|number_format(2, ',', '.') }} CFA }}</h4>
           <p class="card-text">{{ terrain.description }}</p>
        </div>        
      </div>

{% endfor %}                          
</div>
</div>
</div>
{% endblock %}