{% extends 'base.html.twig' %}

{% block title %}Appartement{% endblock %}

{% block body %}
<div class="col-10 p-5">
    <h1>Liste des appartements</h1>

    <table class="table table-bordered table-hover table-sm text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Prix</th>
                <th scope="col">ImageFilename</th>
                <th scope="col">Surface</th>
                <th scope="col">Chambres</th>
                <th scope="col">Garage</th>
                <th scope="col">Salle_de_bains</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for appartement in appartements %}
            <tr>
                <td>{{ appartement.id }}</td>
                <td>{{ appartement.description }}</td>
                <td>{{ appartement.prix }}</td>
                <td>{{ appartement.titre }}</td>
                <td>{{ appartement.imageFilename }}</td>
                <td>{{ appartement.surface }}</td>
                <td>{{ appartement.chambres }}</td>
                <td>{{ appartement.garage }}</td>
                <td>{{ appartement.salleDeBains }}</td>

                <td>
                <a href="{{ path('appartement_show', {'id':appartement.id}) }}"><i class="fas fa-eye"></i></a>
                <a href="{{ path('appartement_edit', {'id':appartement.id}) }}"><i class="fas fa-edit"></i></a>
                </td>    
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('appartement_new') }}" class="btn btn-info float-right">Ajouter</a>
</div>

{% endblock %}


                
            