<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
   
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    
    {{ include('navbar.html.twig') }}

  
    {% block body %}{% endblock %}
   
    <!-- Page Footer -->
    <footer class="page-foot text-left bg-dark m-3">
            <div class="footer-content">
                <div class="container">
                    <div class="row flow-offset-3">
                        <div class="col-xs-12 col-sm-6 col-lg-6 m-3">
                           <span class="logo"><img src="{{ asset('img/logo.png') }}" alt="logo CADEXGROUP"></span>
                        </div>
                    </div>    
                        <div class="container text-left text-white"> 
                            <p>Nous vous trouvons les biens de vos rêves.</p>
                            <p>Siége:</p>
                            <p>FALADJE face aux cimetières et près de la station ORYX,Bamako,Mali</p>
                            <p>Téléphone  (00223)66890559 – (00223)68865796</p>
                            <p>Email  contact@cadex-investment.com</p>
                        </div>
                
            
                <h5 class="text-center text-white">Suivez-nous</h5>
                    <div class="w3-xlarge w3-padding-16 text-center">
                       <img src="{{ asset('img/icons8-facebook-30.png') }}" class="w3-hover-opacity">
                       <img src="{{ asset('img/icons8-instagram-30.png') }}" class="w3-hover-opacity" >
                       <img src="{{ asset('img/icons8-twitter-30.png') }}" class="w3-hover-opacity" >
                       <img src="{{ asset('img/icons8-linkedin-30.png') }}" class="w3-hover-opacity" >
                       <img src="{{ asset('img/icons8-youtube-30.png') }}" class="w3-hover-opacity" >
                    </div>
                </div>
            </div>
            
    </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    {% block javascripts %}{% endblock %}
{# <script src="{{ asset('js/app.js') }}"></script> #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
    


     