<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
   
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- Scroll to top btn -->
<button onclick="topFunction()" id="myBtn" title="Go to top" type="button">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-up" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
            d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
    </svg>
</button>
    
    {{ include('navbar.html.twig') }}

  
    {% block body %}{% endblock %}
    
<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">
  <div style="background-color: #1C2331;">
    <div class="container-fluid">
                <div class="row text-center text-dark">
                    <div class="col-md-4 p-5 my-auto">
      <h5 class="font-weight-bold">Contact</h5>
        <ul>
          <li class="fas fa-home m-3"></i> Bamako, FALADJE face aux cimetières et près de la station ORYX, MALI</li>
          <li class="fas fa-envelope m-3"></i> contact@cadex-group.com</li>
          <li class="fas fa-phone m-3"></i> 0022366890559 – 0022368865796</li>
        </ul>
    </div>
        <!-- Social buttons -->
        <div class="text-dark">
                    <div class="col-md-4 p-5 my-auto">
    <h5 class="font-weight-bold">Suivez-nous</h5></br>
        <!-- Facebook -->
        <ul>
        <a href="https://www.facebook.com/" class="text-white" type="button" class="btn btn-fb">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a href="https://twitter.com/home" class="text-white" type="button" class="btn btn-tw">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- Linkedin -->
        <a href="https://www.linkedin.com/feed/" class="text-white" type="button" class="btn btn-linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        </ul>
</div>
</div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
   <!-- Copyright -->
  <div class="footer-copyright text-dark text-center mt-3">© 2020 Copyright:
      <a class="text-dark" href="{{ path('mentions_legales') }}"> Mentions légales</a>
      <a class="text-dark" href="{{ path('conditions_generales_utilisation') }}"> Conditions Générales d'Utilisation</a>

  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}

</body>
</html>
    


     