 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{{ path('home') }}">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('acheter') }}" role="button" aria-haspopup="true" aria-expanded="false" >ACHETER</a>
          <span class="sr-only">(current)</span>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('acheter') }}">Appartement</a>
            <a class="dropdown-item" href="{{ path('acheter') }}">Terrain</a>
            <a class="dropdown-item" href="{{ path('acheter') }}">Villa</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('louer') }}" role="button" aria-haspopup="true" aria-expanded="false" >LOUER</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('louer') }}">Appartement</a>
            <a class="dropdown-item" href="{{ path('louer') }}">Terrain</a>
            <a class="dropdown-item" href="{{ path('louer') }}">Villa</a>
         
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('vendre')}}">VENDRE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('a_propos_de_nous')}}">A PROPOS DE NOUS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">NOUS CONTACTER</a>
      </li>
      </div>
      <li class="nav-item dropdown">
      <img src="{{ asset('img/icons8-customer-40.png') }}"><a class="w3-right text-light nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('app_login') }}" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>          
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('profile') }}">Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ path('admin_appartement_create') }}">Gestion des appartements</a>
           <a class="dropdown-item" href="{{ path('admin_villa_create') }}">Gestion des villas</a>
          <a class="dropdown-item" href="{{ path('admin_users') }}">Gestion des utilisateurs</a>
        </div>
        </a>
      </li>
    </ul>
  </div>
</nav>